.noveltyUpdate-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 200px;
}
.noveltyUpdate-us {
  font-size: 20px;
  width: 50%;
}
.noveltyUpdate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.noveltyUpdate-title {
  text-align: center;
  width: 100%;
  font-size: 50px;
  font-weight: 500;
}
.noveltyUpdate-title div {
  width: 100%;
}
input {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 1em;
}
button {
  background-color: white;
  color: black;
  padding: 20px;
  margin: 0 10px;
}
@media (max-width: 1300px) {
  .noveltyUpdate {
    flex-direction: column;
  }
  .noveltyUpdate-title {
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .noveltyUpdate-us {
    width: 100%;
  }
}
