*{
  box-sizing: border-box;
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
}
body{
  background-color: rgb(231, 231, 231);
  margin:0;
}
.main-name{
  color:white;
  margin: 0;
  font-size:80px;
  text-align: center;
}
.no-underline{
  text-decoration: none;
  display: block;
}
.header{
  min-height: 75vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),url(./img/spsmb.png);
  background-position: center;
  background-size:cover;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid rgb(192, 192, 255);
}
.header p{
  color:white;
  margin:5px;
}
.header span{
  color:rgb(157, 157, 255);
}
.main-description{
  text-align: center;
}
.navigator{
  width: 30%;
  position: absolute;
  top:0;
  right:0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:20px
}
.navigator p{
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s;
}
.navigator p:hover{
  color:rgb(157, 157, 255);
  text-shadow: 5px 5px 5px #000000;
}
.spsmb-logo{
  width: 5%;
  position: absolute;
  top:0;
  left:0;
  margin:50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
  cursor: pointer;
}
.spsmb-logo:hover{
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}
.newspaper-logo{
  width: 10%;
  height: auto;
  z-index: 10;
}
.btn-whole-novelty{
  border:2px solid black;
  color:black;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.2s;
  background-color: black;
  color: white;
  width: fit-content;
  margin: 10px 50px;
  margin-bottom: 40px;
  padding: 5px 20px;
}
.btn-whole-novelty:hover{
  border-radius: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.footer{
  background-color: rgb(157, 157, 255);
  padding: 40px;
  background-color: rgb(73, 73, 255);

}
.footer p{
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 1600px) {
  .spsmb-logo{
    width: 8%;
  }
  .main-name{
    font-size: 50px; 
  }
  .navigator {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .spsmb-logo{
    width: 15%;
  }
  .main-name{
    font-size: 40px;
  }
  .navigator p{
    font-size: 15px;
  }
  .btn-whole-novelty{
    padding: 2px 5px;
    font-size: 13px;
    margin: 20px 20px
  }
}
@media (max-height: 400px){
  .navigator p{
    font-size: 25px;
  }
  .header{
    height: 100vh;
  }
}