.noveltyView-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 150px;
}
.noveltyView-us {
  font-size: 20px;
  width: 50%;
}
.noveltyView {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.noveltyView-title {
  text-align: center;
  width: 100%;
  font-size: 50px;
  font-weight: 500;
}
.noveltyView-title div {
  width: 100%;
}
.noveltyView-us img {
  box-shadow: 0 0 25px rgb(186, 186, 186);
  margin: 10px auto;
  border-radius: 10px;
  width: fit-content;
  height: auto;
}

@media (max-width: 1300px) {
  .noveltyView {
    flex-direction: column;
  }
  .noveltyView-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  .noveltyView-title {
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .noveltyView-us {
    font-size: 20px;
    width: fit-content;
  }
  .noveltyView-title {
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .noveltyView-us {
    font-size: 15px;
    width: 100%;
  }
  .noveltyView-us img {
    box-shadow: 0 0 25px rgb(186, 186, 186);
    margin: 10px auto;
    border-radius: 10px;
    width: 200px;
    margin: 15px auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
