.noveltyCreate-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 150px;
}
.noveltyCreate-us {
  font-size: 20px;
  width: 50%;
}
.noveltyCreate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.noveltyCreate-title {
  text-align: center;
  width: 100%;
  font-size: 50px;
  font-weight: 500;
}
.noveltyCreate-title div {
  width: 100%;
}
input {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 1em;
  width: 600px;
  font-size: large;
  border: 3px solid white;
}
input:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
}
textarea {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 1em;
  height: 300px;
  width: 600px;
  font-size: large;
  border: 3px solid white;
}
textarea:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
}
@media (max-width: 1300px) {
  .noveltyCreate {
    flex-direction: column;
  }
  .noveltyCreate-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  .noveltyCreate-title {
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .noveltyCreate-us {
    font-size: 20px;
    width: fit-content;
  }
  input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: left;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: left;
  }
  textarea {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 1em;
    height: 150px;
    width: 300px;
  }
}
